.app-container{
  padding-top:2rem;
}

.sizeFont {
  font-family: Quicksand;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.tapActive {
  color: blue;
  text-decoration: underline ;
}

/* .header-links .active {
  color: black;
  text-decoration: underline;
} */

